* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: sans-serif;
  padding: 3rem;
  background-color: #222;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  padding: 3rem 0 6rem;
  overflow: hidden;
  border-radius: 1rem;
}

.img__people {
  border-radius: 5px;
  max-width: 80%;
}

.img__dice {
  width: 20rem;
  max-width: 50%;
}

.title {
  color: #222;
  max-width: 80%;
  text-align: center;
  font-size: calc(1.25rem + 2vw);
}

#feedback {
  text-align: center;
  max-width: 80%;
}

.dice__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn-dice {
  cursor: pointer;
  padding: 1.25rem 2.5rem;
  border: none;
  background-color: #222;
  color: #fff;
  font-weight: 600;
  border-radius: 1rem;
  transition: all 0.25s;
}
.btn-dice:hover {
  background-color: rgb(172, 31, 172);
} /*# sourceMappingURL=style.css.map */
